@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
}

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="@Url.Action("Index", "Default", new { area = "Admin" })">
                <img src="~/argon-dashboard-master/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link @(currentController == "Default" ? "active" : "")" href="@Url.Action("Index", "Default", new { area = "Admin" })">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  @(currentController == "Skill" ? "active" : "")" href="@Url.Action("Index", "Skill", new { area = "Admin" })">
                            <i class="ni ni-planet text-orange"></i>
                            <span class="nav-link-text">Skill</span>
                        </a>
                    </li>
                 
                 
                    <li class="nav-item">
                        <a class="nav-link @(currentController == "Product" ? "active" : "")" href="@Url.Action("Index", "Product", new { area = "Admin" })">
                            <i class="ni ni-bullet-list-67 text-default"></i>
                            <span class="nav-link-text">Product</span>
                        </a>
                    </li>
                 
           
                </ul>
        
            </div>
        </div>
    </div>
</nav>